# ~/.secrets
# Copy this file to ~/.secrets and fill in your values
# DO NOT commit the actual .secrets file

# ClickUp
export CLICKUP_API_TOKEN=''


# NGROK
NGROK_AUTHTOKEN=''


# Add other secrets as needed:
# export GITHUB_TOKEN=""
# export AWS_ACCESS_KEY_ID=""
# export AWS_SECRET_ACCESS_KEY=""
